html, body, #cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0;
    font-family: sans-serif; color: #edffff;
  }
  .cesium-infoBox-iframe {
    height: 300px !important;
    overflow: hidden;
  }
  .controlPanel {
    position: absolute;
    top: 100px;
    left: 5px;
    background: rgba(42, 42, 42, 0.8);
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
  }

  #cesiumHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(42, 42, 42, 0.8);
    padding: 5px 8px;
    border-radius: 5px;
  }
  label {
    cursor: pointer;
  }
  label:hover span {
    text-decoration: underline;
  }